[submodule "nix-home/pkgs/comma"]
	path = nix-home/pkgs/comma
	url = https://github.com/Shopify/comma
[submodule "nix-home/pkgs/share-cli"]
	path = nix-home/pkgs/share-cli
	url = git@github.com:marionebl/share-cli
[submodule "nix-home/pkgs/svg-term-cli"]
	path = nix-home/pkgs/svg-term-cli
	url = git@github.com:marionebl/svg-term-cli
