name: "GitHub Actions Shell"
on:
  workflow_dispatch:
    inputs:
      command:
        description: 'The command to run'
        required: true
      ref:
        description: 'Choose branch or commit to checkout.'
        required: true
        default: 'main'

jobs:
  run:
    strategy:
      matrix:
        cachixName:
          - reedrw

    runs-on: ubuntu-latest
    steps:
    - name: Install Doppler CLI
      uses: dopplerhq/cli-action@v3

    - name: Pass all secrets to next steps
      run: |
        while read -rd $'' line; do echo "$line" >> $GITHUB_ENV; done < <( doppler secrets download --no-file --format=json | jq "." | grep -v 'DOPPLER_\(CONFIG\|ENVIRONMENT\|PROJECT\)' | jq -r 'to_entries|map("\(.key)<<EOF\n\(.value)\nEOF\u0000")[]' )
        while read -r line; do echo "::add-mask::$line"; done < <( doppler secrets download --no-file --format=json | jq "." | grep -v 'DOPPLER_\(CONFIG\|ENVIRONMENT\|PROJECT\)' | jq -r 'to_entries|map("\(.value)\u0000")[]' )
      env:
        DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        ref: ${{ github.event.inputs.ref }}

    - name: Install Lix
      uses: canidae-solutions/lix-quick-install-action@v4

    - name: Install Cachix
      uses: cachix/cachix-action@v16
      continue-on-error: true
      with:
        useDaemon: false
        name: ${{ matrix.cachixName }}
        signingKey: '${{ env.CACHIX_SIGNING_KEY }}'
        pushFilter: '(-source$|-src$|\.tar\.gz$|\.xpi$)'

    - name: Run command
      run: ${{ github.event.inputs.command }}
