name: "Update Nix dependencies"
on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Install Doppler CLI
      uses: dopplerhq/cli-action@v3

    - name: Pass all secrets to next steps
      run: |
        while read -rd $'' line; do echo "$line" >> $GITHUB_ENV; done < <( doppler secrets download --no-file --format=json | jq "." | grep -v 'DOPPLER_\(CONFIG\|ENVIRONMENT\|PROJECT\)' | jq -r 'to_entries|map("\(.key)<<EOF\n\(.value)\nEOF\u0000")[]' )
        while read -r line; do echo "::add-mask::$line"; done < <( doppler secrets download --no-file --format=json | jq "." | grep -v 'DOPPLER_\(CONFIG\|ENVIRONMENT\|PROJECT\)' | jq -r 'to_entries|map("\(.value)\u0000")[]' )
      env:
        DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

    - uses: tibdex/github-app-token@v2.1
      id: generate-token
      with:
        app_id: ${{ env.APP_ID }}
        private_key: ${{ env.APP_PRIVATE_KEY }}

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v21
      with:
        source-url: "https://install.lix.systems/lix/lix-installer-x86_64-linux"
        logger: pretty
        determinate: false

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Run all "update-sources.sh"
      run: |
        export TERM="xterm"
        nix run -L --option accept-flake-config true .\#update-all

    - name: Create pull request
      uses: peter-evans/create-pull-request@v7
      with:
        token: ${{ steps.generate-token.outputs.token }}
        author: reedbot[bot] <74506764+reedbot[bot]@users.noreply.github.com>
        commit-message: Update Nix dependencies
        title: Update Nix dependencies
        body: |
          - Nix dependency updates

          Auto-generated by [create-pull-request][1]

          [1]: https://github.com/peter-evans/create-pull-request
        branch: update-dependencies
